name: CI
on:
  push:
  pull_request:
    types: [ opened, reopened ]

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.14"
        os: [ ubuntu-22.04, windows-latest, macos-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set the Python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}
      - name: Lock dependencies
        shell: bash
        run: uv lock
      - name: Install dependencies
        shell: bash
        run: uv sync --locked --all-extras --dev
      - name: Run tests
        shell: bash
        run: |
          if [ "$RUNNER_OS" == "Linux" ]; then
            sudo apt install -y dbus-x11
            dbus-launch --exit-with-session uv run pytest -v
          else
            uv run pytest -v
          fi
